.masthead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}

.masthead__menu-and-search {
  display: grid;
  grid-column-start: 1;
  grid-row-start: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
}

.masthead__actions {
  display: grid;
  grid-column-start: 3;
  grid-row-start: 1;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.masthead__technologies {
  display: flex;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content: center;
  text-align: center;
}

.masthead__technology {
  margin: 0 4px;
}

.masthead__technology-list {
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  color: #6f6f6f;
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  /* bottom: 1px;
  background-color: white;  never-mind, moving on*/
}

.masthead__date {
  align-items: flex-end;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  display: flex;
  font-size: 11px;
  grid-row-start: 3;
  padding-bottom: 11px;
}

.masthead__logo {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  grid-column-start: 2;
  grid-row-start: 3;
  padding-bottom: 11px;
  padding-top: 20px;
  text-align: center;
}

.masthead__paper {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  align-items: flex-end;
  display: flex;
  font-size: 11px;
  justify-content: flex-end;
  grid-column-start: 3;
  grid-row-start: 3;
  padding-bottom: 11px;
}

.masthead__bars, .masthead__search, .fa-cog {
  font-size: 11px;
  padding: 7px 9px;

}

.masthead__bars:hover, .masthead__search:hover, .fa-cog:hover {
  background-color: #f7f7f5d5;
}
