.pf {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;

}

.wgs {
    display: inline-block;
    height: 482px;
    position: relative;
    width: 640px;
    background-color: purple;
    overflow: hidden;
}

.wgs__mole-head {
    height: 356px;
    position: absolute;
    width: 376px;
    right: 155px;
    transition: margin-top .25s;
}

.wgs__dirt-pile {
    height: 220px;
    position: absolute;
    width: 640px;
    bottom: 0;  /* Remember relative and absolute positioning for CoderComedian! */
}

.wgs__mole-head--hidden {
    margin-top: 482px;
}

/* .wgs__mole-head--whacked {

} */
